body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.main-content {
    display: flex;
    flex-grow: 1;
}
.header {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 100%;
}
.header > div {
    font-size: 24px;
    font-weight: bold;
}
.header > input {
    padding: 10px;
    font-size: 16px;
}
.header > nav {
    display: flex;
    gap: 10px;
}
.header > nav > a {
    color: white;
    text-decoration: none;
}
.section {
    border-bottom: 1px solid gray;
    padding: 20px;
}
.title {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.text {
    color: gray;
    font-size: 16px;
}
.sidebar {
    width: 200px;
    border-left: 1px solid gray;
    padding: 20px;
}